body{
    width: 100%;
    margin-left: auto;   
    background: rgb(0, 2, 31);
}

table{
    border-collapse: collapse;
}

a{
    text-decoration: none;
}

.cuerpo{
    width: 92%;  
    height: 100%;
    margin-left: 4%;
    background-color: rgb(197, 255, 255);
}

.contenido{
    width: 100%;
    margin-left: 3%;
}

.contenido h1{
    margin-top: 4%;
}

.table th, td {   
    padding: 10px; 
    border: solid 2px rgb(0, 0, 0);
    vertical-align: middle;
}

.table th{
    text-align: center;
}

.table td{
    text-align: left;
}

.persona_que_admiro img{
    /*margin-left: 33%;*/
    position: relative;
    width: 400px;
    height: 300px;
    border: solid 2px black;
    border-radius: 5px;
}
.persona_que_admiro a{
    color: blue;
}

.persona_que_admiro{
    margin-top: 5%;
}

.persona_que_admiro p{
    text-align: center;
}
.nombre_messi{    
    font-weight: bold;  
    text-align: center;  
}

.footer{
    width: 100%;
    height: 150px; 
    margin-top: 5%;   
    text-align: center;
    background-color: rgba(2, 47, 53, 0.26);
}

.nav{
    width: 100%;
    height: 80px;  
    background-color: rgba(2, 47, 53, 0.26);
    position: relative;
}
.nav a{
    color: blue;
    position: relative;
    top: 35%;
    left: 5%;
}
#contacto a{    
    color: blue;
}

#contacto{
    padding-top: 2px;
}

.contenido h1{
    text-align: center;
}
