body{
    width: 100%;
    margin-left: auto;   
    background: rgb(0, 2, 31);
}

table{
    border-collapse: collapse;
}

a{
    text-decoration: none;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: italic;
}

.cuerpo{
    width: 92%;  
    height: 100%;
    margin-left: 4%;
    background-color: rgb(197, 255, 255);
}

.contenido{
    width: 100%;
    margin-left: 3%;
}

.contenido h1{
    margin-top: 4%;
}

.table th, td {   
    padding: 10px; 
    border: solid 2px rgb(0, 0, 0);
    vertical-align: middle;
}

.table th{
    text-align: center;
}

.table td{
    text-align: left;
}

.persona_que_admiro img{
    position: relative;
    width: 400px;
    height: 300px;
    border: solid 2px black;
    border-radius: 5px;
    float: right;
    right: 7%;    
}
@media only screen and (max-width: 950px){
    .persona_que_admiro img{
        width: 250px;
        height: 150px;
    }
    #texto_messi{
        width: 50%;
        text-align: justify;
    }
}
.persona_que_admiro a{
    color: blue;
}

.persona_que_admiro{
    margin-top: 5%;
}

#texto_messi{
    position: relative;
    margin-top: 6%;
}

.persona_que_admiro p{
    text-align: left;     
}
#nombre_messi{    
    font-weight: bold;  
    text-align: left;   
    font-style: oblique;  
    font-size: medium;
}

.footer{
    width: 100%;
    height: 150px; 
    margin-top: 20%;   
    text-align: center;
    background-color: rgba(2, 47, 53, 0.26);
}

.nav{
    width: 100%;
    height: 80px;  
    background-color: rgba(2, 47, 53, 0.26);
    position: relative;
}
.nav a{
    color: blue;
    position: relative;
    top: 35%;
    left: 5%;
}
#contacto a{    
    color: blue;
}

#contacto{
    padding-top: 2px;
}

.contenido h1{
    text-align: left;
    margin-bottom: 5%;
}

.nav a:hover{
    color: white;
    font-size: large;
}

#form_contacto{
    position: relative;
    width: 50%;    
}

#btn_enviar{
    width: 30%;
    height: 35px;
    background: rgb(6, 70, 129);
    color: white;
    border-radius: 5px;
    position: relative;
    text-align: center;
    left: 70%;
}

#btn_enviar:hover{
    background-color: rgb(69, 66, 255);
    cursor: pointer;
}

#form_contacto{
    width: 40%;
    position: relative;
    left: 27%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#form_contacto input[type=text], input[type=email], input[type=password]{
    width: 50%;
    padding: 8px;
}

#form_contacto h3{
    text-align: center;
    padding: 10px;
}

#form_contacto label{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#form_contacto fieldset{
    border: solid 3px blue;
    padding: 3%;
}

select{
    width: 40%;
    height: 30px;
}